@charset "utf-8";
body{background:#fff9f3;}
a{color:#ff6600; text-decoration:none;}
a:hover{color:#e87e38; text-decoration:underline;}
fieldset{border-color:#e87e38;}
/* ------------- bootstrap ------------- */
.btn-sel:hover,
.btn-sel:focus{background-color:#fde5d4; background-position:0 -15px; border-color:#e87e38;}
.btn-sel:active,
.btn-sel.active{background-color:#fde5d4; border-color:#e87e38;}
.btn-default{color:#e87e38; background-color:#fff9f3; border-color:#e87e38;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{color:#FFF; background-color:#e87e38; border-color:#e87e38;}
.btn-close, .btn-red, .btn-blue, .btn-green, .btn-blue, .btn-orange{background:#fff9f3;}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#fde5d4;}
.form-control{color:#e87e38; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#e87e38; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253,129,46, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(253,129,46, 0.6);}
.panel-default{border-color:#e87e38;}
.panel-default > .panel-heading{color:#e87e38; background-color:#fff9f3; border-color:#e87e38;}
.panel-default > .panel-heading + .panel-collapse .panel-body{border-top-color:#e87e38;}
.panel-default > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#e87e38;}
.panel-main .panel-default{border-top-color:#e87e38; border-bottom-color:#e87e38;}
.panel-main .panel-default .panel-heading .panel-title a.active,
.panel-main .panel-default .panel-heading .panel-title a:hover{background:#fde5d4;}
.nav-tabs{border-bottom-color:#e87e38;}
.nav-tabs > li > a{background-color:#fff9f3; border-bottom-color:#e87e38;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{border-color:#e87e38; border-bottom-color:#FFF;}
.tab-content{border-color:#e87e38;}
.table > thead > tr > th{font-weight:bold; color:#e87e38; background:#fff9f3; border-bottom-color:#e87e38;}
.table > thead > tr > th{background:#fff9f3; border-bottom-color:#e87e38;}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{background-color:#fff9f3;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#fde5d4;}
.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc{color:#ff6600;}
.table > thead > tr > th.orderby.desc a.order.desc{color:#ff6600;}
.table > thead > tr > th.orderby a.order:hover{color:#FFF!important; background:#ff6600;}
.table > tbody > tr.selected > td{background-color:#ffb584;}
/* Main */
#bjui-header{background:#e87e38 url(topbg.png);}
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:focus,
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:hover{background:#ff6600;}
#bjui-header > #bjui-navbar-collapse.menu {background:#e87e38;}
#bjui-header > #bjui-navbar-collapse > .bjui-navbar-right > li > a:hover{background:#ff6600;}
#bjui-hnav{background-color:#fde5d4; box-shadow:0 2px 5px rgba(253, 129, 46, 0.6);}
#bjui-hnav > .bjui-hnav-toggle:focus,
#bjui-hnav > .bjui-hnav-toggle:hover{background:#ff6600;}
#bjui-hnav > #bjui-hnav-navbar > li > a{color:#c35005;}
#bjui-hnav > #bjui-hnav-navbar > li > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a,
#bjui-hnav > #bjui-hnav-navbar >.active > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a:focus,
#bjui-hnav > #bjui-hnav-navbar > .open > a,
#bjui-hnav > #bjui-hnav-navbar > .open > a:hover,
#bjui-hnav > #bjui-hnav-navbar > .open > a:focus{background-color:#ff6600; border-left-color:#ff6600;}
#bjui-hnav > .hnav-form .form-control{border-color:#e87e38;}
#bjui-hnav > .hnav-form .btn{background-color:#e87e38;}
#bjui-hnav > .hnav-form .btn:hover,
#bjui-hnav > .hnav-form .btn:focus{background-color:#ff6600;}
#bjui-hnav > #bjui-hnav-navbar.menu{background:#e87e38;}
#bjui-hnav > #bjui-hnav-navbar.menu > li > a{border-top-color:#fff9f3;}
#bjui-sidebar.shadown{box-shadow:2px 0 5px rgba(253, 129, 46, 0.5);}
#bjui-sidebar{background:#fff9f3; border-color:#e87e38;}
#bjui-sidebar > .toggleCollapse{background:#fde5d4; border-bottom:1px #e87e38 solid;}
#bjui-sidebar > .toggleCollapse .lock{color:#ff6600; background:#fde5d4;}
#bjui-sidebar > .toggleCollapse .lock:hover{color:#fff9f3; background:#ff6600;}
#bjui-sidebar-s > .collapse{background:#fff9f3; border:1px #e87e38 solid;}
#bjui-sidebar-s > .collapse:hover{background:#ff6600; border-color:#ff6600;}
#bjui-splitBar{background:#fff9f3;}
#bjui-splitBarProxy{border-color:#c0c0c0; background:#fff9f3;}
/* Pages */
.bjui-pageHeader{background:#fff9f3; border-bottom:1px #e87e38 solid;}
.bjui-pageHeader .moreSearch{background:#fff9f3; border-bottom:1px #e87e38 solid;}
.bjui-pageHeader .j-showMoreSearch:hover{color:#ff6600;}
.bjui-headBar{background:#fde5d4; border-bottom:1px #e87e38 solid;}
.bjui-footBar{background:#fde5d4; border-top:1px #e87e38 solid;}
.bjui-headBar > .pagination-box > ul > li > a,
.bjui-footBar > .pagination-box > ul > li > a{color:#ff6600;}
.bjui-headBar > .pagination-box > ul > li > a:hover,
.bjui-footBar > .pagination-box > ul > li > a:hover{color:#e87e38;}
.bjui-headBar > .pagination-box > ul > .selected > a,
.bjui-headBar > .pagination-box > ul > .selected > span,
.bjui-headBar > .pagination-box > ul > li > a:hover,
.bjui-headBar > .pagination-box > ul > .selected > span:hover,
.bjui-footBar > .pagination-box > ul > .selected > a,
.bjui-footBar > .pagination-box > ul > .selected > span,
.bjui-footBar > .pagination-box > ul > li > a:hover,
.bjui-footBar > .pagination-box > ul > .selected > span:hover{z-index:2; color:#ffffff; background-color:#e87e38; border-color:#fde5d4;}
/* MaskProgress */
.bjui-maskProgress{color:#e87e38; background:#FAFAFA; border:2px solid #e87e38;}
/* Navtab */
#bjui-navtab > .tabsPageHeader > .tabsLeft,
#bjui-navtab > .tabsPageHeader > .tabsRight,
#bjui-navtab > .tabsPageHeader > .tabsMore{background-color:#fff9f3; border:1px #e87e38 solid;}
#bjui-navtab > .tabsPageHeader > .tabsLeft:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight:hover,
#bjui-navtab > .tabsPageHeader > .tabsMore:hover{color:#fff9f3; background-color:#e87e38;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled{color:#999; border-color:#ffb584; border-bottom-color:#e87e38;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled:hover{background:#fff9f3;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav{border-bottom-color:#e87e38;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a{color:#e87e38; background-color:#fff9f3; border-color:#ffb584; border-bottom-color:#e87e38;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a:hover{color:#e87e38; background:#fde5d4; border-color:#e87e38; border-bottom-color:transparent;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a{color:#e87e38; font-weight:bold; background:#FFF; border-color:#e87e38; border-bottom-color:transparent;}
#bjui-navtab > .tabsMoreList{background:#fff9f3; border-color:#e87e38;}
#bjui-navtab > .tabsMoreList > li > a:hover{color:#e87e38; background:#fde5d4;}
#bjui-navtab > .tabsMoreList > li.active > a{font-weight:bold; background:#fde5d4;}
#bjui-navtab > .tabsPageContent{background:#fefefe; border-color:#e87e38;}
/* Dialog */
.bjui-dialog{background:#fff9f3; border:1px #DDD solid;}
.bjui-dialog.dialogShadow{-webkit-box-shadow:0 3px 9px rgba(253,129,46, 0.9); box-shadow:0 3px 9px rgba(253,129,46, 0.9);}
.bjui-dialog > .dialogHeader{background:#fde5d4; border-bottom:1px #e87e38 solid;}
.bjui-dialog > .dialogHeader a{color:#e87e38 !important;}
.bjui-dialog > .dialogHeader a:hover{color:#ff6600 !important;}
.bjui-dialog > .dialogHeader h1{color:#e87e38;}
.bjui-dialog > .dialogContent .bjui-pageHeader{margin-bottom:0; border:1px #e87e38 solid; border-bottom:none;}
.bjui-dialog > .dialogContent .bjui-pageContent{background-color:#fff; border:1px #e87e38 solid;}
/* Dialog resizable */
.bjui-resizable{border-color:#e87e38; background:#fff9f3;}
/* Taskbar */
#bjui-taskbar{background:#e87e38;}
#bjui-taskbar > .taskbarContent > ul > li{background:#fff9f3;}
#bjui-taskbar > .taskbarContent > ul > li > .taskbutton{color:#e87e38;}
#bjui-taskbar > .taskbarContent > ul > li.selected,
#bjui-taskbar > .taskbarContent > ul > li:hover{background:#fde5d4;}
#bjui-taskbar > .taskbarContent > ul > li.selected > .taskbutton,
#bjui-taskbar > .taskbarContent > ul > li:hover > .taskbutton{color:#ff6600;}
#bjui-taskbar > .taskbarContent > ul > li > .close{color:#e87e38;}
#bjui-taskbar > .taskbarContent > ul > li > .close:hover{color:#FF0000;}
#bjui-taskbar > .taskbarLeft, #bjui-taskbar > .taskbarRight{background:#fff9f3;}
#bjui-taskbar > .taskbarLeft:hover,
#bjui-taskbar > .taskbarRight:hover{color:#FFF; background:#e87e38;}
#bjui-taskbar > .taskbarLeft.disabled,
#bjui-taskbar > .taskbarRight.disabled{color:#999; background:#fff9f3;}
#bjui-taskbar > .taskbarLeft.disabled:hover,
#bjui-taskbar > .taskbarRight.disabled:hover{color:#999; background:#fff9f3;}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#e87e38;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#FFF; background:#e87e38;}
/* Alertmsg */
.bjui-alert{background:#fff9f3;}
.bjui-alert > .alertContent .alertInner > .msg{border-top: 1px #fefefe solid;}
.bjui-alert > .alertContent > .info > .alertInner{border-color:#e87e38;}
.bjui-alert > .alertContent > .info > .alertInner > h1{color:#c35005; background-color:#fde5d4; border-bottom:1px #d43c00 solid;}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#fff; border:1px solid #999;}
#bjui-contextmenu li{color:#e87e38; background-color:transparent; border:1px solid #fff;}
#bjui-contextmenu li:hover{background-color:#fff9f3; border:1px solid #e87e38;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default;}
#bjui-contextmenu li.diver{border-top:1px solid #e87e38; border-bottom:1px solid #fde5d4; border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Calendar */
#bjui-calendar{border:1px solid #e87e38;}
#bjui-calendar > .main > a.close{color:#e87e38;}
#bjui-calendar > .main > a.close:hover{color:#FF0000;}
#bjui-calendar > .main > .head{background:#fde5d4; border:1px solid #e3dced;}
#bjui-calendar > .main > .body{border:1px solid #e3dced;}
#bjui-calendar > .main > .foot{background:#fff9f3; border:1px solid #e3dced;}
#bjui-calendar > .main > .body > .days > dd.slt{background:#fde5d4; border:1px solid #e87e38;}
#bjui-calendar > .main > .body > .days > dd:hover{border:1px solid #e87e38;}
#bjui-calendar > .main > .body > .days > dd.other{color:#ffb584;}
#bjui-calendar > .main > .foot > .time td{border:1px solid #e87e38;}
#bjui-calendar > .main > .foot > .time .up:hover,
#bjui-calendar > .main > .foot > .time .down:hover{color:#FFF; background:#e87e38;}
#bjui-calendar > .main > .tm > ul{background-color:#fff9f3; border:1px solid #e87e38;}
#bjui-calendar > .main > .tm > ul > li:hover{background:#fde5d4;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:#ff6600;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#FFF; background:#e87e38;}
/* Lookup */
.bjui-lookup:hover{color:#FFF; background:#e87e38;}
/* Tags */
.bjui-tags > .label-tag{color:#e87e38; background-color:#fff9f3;}
.bjui-tags > .label-tag:hover,
.bjui-tags > .label-tag:focus{background-color:#fde5d4;}
.bjui-tags > .tags-menu > .tags-highlight{background-color:#fde5d4;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#fff9f3;}

/* ------- plugins ------- */
/* iCheck */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/* zTree */
.ztree li a:hover{color:#ff6600;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#fde5d4; color:black; border:1px #e87e38 solid;}
.ztree li a.curSelectedNode_Edit{background-color:#fde5d4; color:black; border:1px #e87e38 solid;}
.ztree li a.tmpTargetNode_inner{background-color:#fde5d4; color:white; border:1px #e87e38 solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #e87e38 dotted;}
ul.tmpTargetzTree{background-color:#fde5d4;}
/* uploadify */
.uploadify-button{color:#e87e38 !important; background-color:#fff9f3 !important; border-color:#e87e38 !important;}
.uploadify:hover .uploadify-button{color:#FFF !important; background-color:#e87e38 !important; border-color:#e87e38 !important;}