@charset "utf-8";
body{background:#f1f9fe;}
a{color:#0024ff; text-decoration:none;}
a:hover{color:#013969; text-decoration:underline;}
fieldset{border-color:#587fa1;}
/* ------------- bootstrap ------------- */
.btn-sel:hover,
.btn-sel:focus{background-color:#e0f0fb; background-position:0 -15px; border-color:#587fa1;}
.btn-sel:active,
.btn-sel.active{background-color:#e0f0fb; border-color:#587fa1;}
.btn-default{color:#013969; background-color:#f1f9fe; border-color:#587fa1;}
.btn-default.selectpicker{background-color:#fff;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{color:#FFF; background-color:#587fa1; border-color:#587fa1;}
.btn-close, .btn-red, .btn-blue, .btn-green, .btn-blue, .btn-orange{background:#f1f9fe;}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#e0f0fb;}
.form-control{color:#013969; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#587fa1; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63,166,253, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(63,166,253, 0.6);}
.panel-default{border-color:#587fa1;}
.panel-default > .panel-heading{color:#013969; background-color:#f1f9fe; border-color:#587fa1;}
.panel-default > .panel-heading + .panel-collapse .panel-body{border-top-color:#587fa1;}
.panel-default > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#587fa1;}
.panel-main .panel-default{border-top-color:#587fa1; border-bottom-color:#587fa1;}
.panel-main .panel-default .panel-heading .panel-title a.active,
.panel-main .panel-default .panel-heading .panel-title a:hover{background:#e0f0fb;}
.nav-tabs{border-bottom-color:#587fa1;}
.nav-tabs > li > a{background-color:#f1f9fe; border-bottom-color:#587fa1;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{border-color:#587fa1; border-bottom-color:#FFF;}
.tab-content{border-color:#587fa1;}
.table > thead > tr > th{font-weight:bold; color:#013969; background:#f1f9fe; border-bottom-color:#587fa1;}
.table > thead > tr > th{background:#f1f9fe; border-bottom-color:#587fa1;}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{background-color:#f1f9fe;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#e0f0fb;}
.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc{color:#0024ff;}
.table > thead > tr > th.orderby.desc a.order.desc{color:#0024ff;}
.table > thead > tr > th.orderby a.order:hover{color:#FFF!important; background:#0024ff;}
.table > tbody > tr.selected > td{background-color:#aad7fd;}
/* Main */
#bjui-header{background:#587fa1 url(topbg.png);}
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:focus,
#bjui-header > .bjui-navbar-header > .bjui-navbar-toggle:hover{background:#0024ff;}
#bjui-header > #bjui-navbar-collapse.menu {background:#587fa1;}
#bjui-header > #bjui-navbar-collapse > .bjui-navbar-right > li > a:hover{background:#0024ff;}
#bjui-hnav{background-color:#e0f0fb; box-shadow:0 2px 5px rgba(63, 166, 253, 0.6);}
#bjui-hnav > .bjui-hnav-toggle:focus,
#bjui-hnav > .bjui-hnav-toggle:hover{background:#0024ff;}
#bjui-hnav > #bjui-hnav-navbar > li > a{color:#013969;}
#bjui-hnav > #bjui-hnav-navbar > li > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a,
#bjui-hnav > #bjui-hnav-navbar >.active > a:hover,
#bjui-hnav > #bjui-hnav-navbar >.active > a:focus,
#bjui-hnav > #bjui-hnav-navbar > .open > a,
#bjui-hnav > #bjui-hnav-navbar > .open > a:hover,
#bjui-hnav > #bjui-hnav-navbar > .open > a:focus{background-color:#0024ff; border-left-color:#0024ff;}
#bjui-hnav > .hnav-form .form-control{border-color:#587fa1;}
#bjui-hnav > .hnav-form .btn{background-color:#587fa1;}
#bjui-hnav > .hnav-form .btn:hover,
#bjui-hnav > .hnav-form .btn:focus{background-color:#0024ff;}
#bjui-hnav > #bjui-hnav-navbar.menu{background:#587fa1;}
#bjui-hnav > #bjui-hnav-navbar.menu > li > a{border-top-color:#f1f9fe;}
#bjui-sidebar.shadown{box-shadow:2px 0 5px rgba(63, 166, 253, 0.5);}
#bjui-sidebar{background:#f1f9fe; border-color:#587fa1;}
#bjui-sidebar > .toggleCollapse{background:#e0f0fb; border-bottom:1px #587fa1 solid;}
#bjui-sidebar > .toggleCollapse .lock{color:#0024ff; background:#e0f0fb;}
#bjui-sidebar > .toggleCollapse .lock:hover{color:#f1f9fe; background:#0024ff;}
#bjui-sidebar-s > .collapse{background:#f1f9fe; border:1px #587fa1 solid;}
#bjui-sidebar-s > .collapse:hover{background:#0024ff; border-color:#0024ff;}
#bjui-splitBar{background:#f1f9fe;}
#bjui-splitBarProxy{border-color:#aad7fd; background:#f1f9fe;}
/* Pages */
.bjui-pageHeader{background:#e0f0fb; border-bottom:1px #587fa1 solid;}
.bjui-pageHeader .bjui-moreSearch{background:#f1f9fe; border-bottom:1px #587fa1 solid;}
.bjui-pageHeader .showMoreSearch:hover{color:#0024ff;}
.bjui-pageFooter{background:#e0f0fb; border-top:1px #587fa1 solid;}
.bjui-pageFooter > .pagination-box > ul > li > a{color:#0024ff;}
.bjui-pageFooter > .pagination-box > ul > li > a:hover{color:#587fa1;}
.bjui-pageFooter > .pagination-box > ul > .selected > a,
.bjui-pageFooter > .pagination-box > ul > .selected > span,
.bjui-pageFooter > .pagination-box > ul > li > a:hover,
.bjui-pageFooter > .pagination-box > ul > .selected > span:hover{z-index:2; color:#ffffff; background-color:#587fa1; border-color:#e0f0fb;}
/* MaskProgress */
.bjui-maskProgress{color:#013969; background:#FAFAFA; border:2px solid #587fa1;}
/* Navtab */
#bjui-navtab > .tabsPageHeader > .tabsLeft,
#bjui-navtab > .tabsPageHeader > .tabsRight,
#bjui-navtab > .tabsPageHeader > .tabsMore{background-color:#f1f9fe; border:1px #587fa1 solid;}
#bjui-navtab > .tabsPageHeader > .tabsLeft:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight:hover,
#bjui-navtab > .tabsPageHeader > .tabsMore:hover{color:#f1f9fe; background-color:#013969;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled{color:#999; border-color:#aad7fd; border-bottom-color:#587fa1;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled:hover{background:#f1f9fe;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav{border-bottom-color:#587fa1;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a{color:#013969; background-color:#f1f9fe; border-color:#aad7fd; border-bottom-color:#587fa1;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a:hover{color:#013969; background:#e0f0fb; border-color:#587fa1; border-bottom-color:transparent;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a{color:#013969; font-weight:bold; background:#FFF; border-color:#587fa1; border-bottom-color:transparent;}
#bjui-navtab > .tabsMoreList{background:#f1f9fe; border-color:#587fa1;}
#bjui-navtab > .tabsMoreList > li > a:hover{color:#013969; background:#e0f0fb;}
#bjui-navtab > .tabsMoreList > li.active > a{font-weight:bold; background:#e0f0fb;}
#bjui-navtab > .tabsPageContent{background:#fefefe; border-color:#587fa1;}
/* Dialog */
.bjui-dialog{background:#f1f9fe; border:1px #DDD solid;}
.bjui-dialog.dialogShadow{-webkit-box-shadow:0 3px 9px rgba(63,166,253, 0.9); box-shadow:0 3px 9px rgba(63,166,253, 0.9);}
.bjui-dialog > .dialogHeader{background:#e0f0fb; border-bottom:1px #587fa1 solid;}
.bjui-dialog > .dialogHeader a{color:#013969 !important;}
.bjui-dialog > .dialogHeader a:hover{color:#0024ff !important;}
.bjui-dialog > .dialogHeader h1{color:#013969;}
.bjui-dialog > .dialogContent .bjui-pageHeader{margin-bottom:0; border:1px #587fa1 solid; border-bottom:none;}
.bjui-dialog > .dialogContent .bjui-pageContent{background-color:#fff; border:1px #587fa1 solid;}
.bjui-dialog > .dialogContent .bjui-pageFooter{border:1px #587fa1 solid; border-top:none;}
/* Dialog resizable */
.bjui-resizable{border-color:#587fa1; background:#f1f9fe;}
/* Taskbar */
#bjui-taskbar{background:#013969;}
#bjui-taskbar > .taskbarContent > ul > li{background:#f1f9fe;}
#bjui-taskbar > .taskbarContent > ul > li > .taskbutton{color:#013969;}
#bjui-taskbar > .taskbarContent > ul > li.selected,
#bjui-taskbar > .taskbarContent > ul > li:hover{background:#e0f0fb;}
#bjui-taskbar > .taskbarContent > ul > li.selected > .taskbutton,
#bjui-taskbar > .taskbarContent > ul > li:hover > .taskbutton{color:#0024ff;}
#bjui-taskbar > .taskbarContent > ul > li > .close{color:#587fa1;}
#bjui-taskbar > .taskbarContent > ul > li > .close:hover{color:#FF0000;}
#bjui-taskbar > .taskbarLeft, #bjui-taskbar > .taskbarRight{background:#f1f9fe;}
#bjui-taskbar > .taskbarLeft:hover,
#bjui-taskbar > .taskbarRight:hover{color:#FFF; background:#013969;}
#bjui-taskbar > .taskbarLeft.disabled,
#bjui-taskbar > .taskbarRight.disabled{color:#999; background:#f1f9fe;}
#bjui-taskbar > .taskbarLeft.disabled:hover,
#bjui-taskbar > .taskbarRight.disabled:hover{color:#999; background:#f1f9fe;}
/*  datagrid */
.bjui-datagrid .datagrid-title{color:#013969; background-color:#e0f0fb;}
.bjui-datagrid .datagrid-toolbar{background-color:#f1f9fe;}
.bjui-datagrid .table > thead > tr > th:first-child{border-left-color:#f1f9fe;}
.bjui-datagrid .datagrid-box-h{background-color:#e0f0fb; border-bottom-color:#587fa1;}
.bjui-datagrid .datagrid-box-f{background-color:#f1f9fe;}
.bjui-datagrid .datagrid-box-f .table > thead > tr > th .datagrid-calcbox{color:#0024ff; background-color:#e0f0fb;}
.bjui-datagrid .table > tbody > tr > td.datagrid-linenumber-td{color:#0024ff;}
.bjui-datagrid .table.table-hover > tbody > tr:hover > td.datagrid-linenumber-td{background-color:#e0f0fb;}
.bjui-datagrid .table > tbody > tr.datagrid-hover > td{background-color:#e0f0fb;}
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn.active,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:hover,
.bjui-datagrid .table > thead > tr > th > div > .datagrid-cell > .datagrid-column-menu-btn > .btn:focus{background-color:#0024ff;}
.bjui-datagrid .table > thead > tr > th:hover > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{color:#0024ff;}
.bjui-datagrid .table > thead > tr > th.filter-active > div > .datagrid-cell > .datagrid-column-menu-btn > .btn{background-color:#0024ff;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th:hover{background-color:#e0f0fb;}
.bjui-datagrid .table > thead > tr > th.datagrid-quicksort-th > div > .datagrid-label > i{color:#0024ff;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a{color:#013969;}
.bjui-datagrid > .datagrid-menu-box > ul > li > a:hover,
.bjui-datagrid > .datagrid-menu-box > ul > li.active > a{background-color:#587fa1;}
.bjui-datagrid .datagrid-filter-box fieldset > span input{border-color:#587fa1;}
.bjui-datagrid .datagrid-showhide-box > li > a{color:#013969;}
.bjui-datagrid .datagrid-showhide-box > li > a:hover{background-color:#587fa1;}
.bjui-datagrid .table > thead > tr > th.datagrid-sortable:hover a:hover{background-color:#0024ff;}
.bjui-datagrid .table > tbody > tr.datagrid-selected-tr > td{background-color:#aad7fd !important;}
.bjui-datagrid .table > tbody > tr > td.datagrid-td-selected{border-color:#0024ff;}
.bjui-datagrid .table > tbody > tr > td.datagrid-td-selected-drag{border-color:#d285e5;}
.bjui-datagrid > .datagrid-paging-box{background-color:#e0f0fb;}
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li > a:focus{color:#0024ff;}
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:focus,
.bjui-datagrid > .datagrid-paging-box > .paging-content > .datagrid-paging > .pagination > li.active > a:hover{background-color:#587fa1;}
.bjui-datagrid > .resizeProxy{background-color:#0024ff;}
.datagrid-dialog-edit-form > p:hover{background-color:#f1f9fe;}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#587fa1;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#FFF; background:#013969;}
/* Alertmsg */
.bjui-alert{background:#f1f9fe;}
.bjui-alert > .alertContent .alertInner > .msg{border-top: 1px #fefefe solid;}
.bjui-alert > .alertContent > .info > .alertInner{border-color:#587fa1;}
.bjui-alert > .alertContent > .info > .alertInner > h1{color:#013969; background-color:#e0f0fb; border-bottom:1px #005094 solid;}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#f1f9fe; border:1px solid #587fa1;}
#bjui-contextmenu li{color:#013969; background-color:transparent;}
#bjui-contextmenu li:hover{color:#fff; background-color:#587fa1;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default; background-color:transparent;}
#bjui-contextmenu li.diver{ border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Calendar */
#bjui-calendar{border:1px solid #587fa1;}
#bjui-calendar > .main > a.close{color:#587fa1;}
#bjui-calendar > .main > a.close:hover{color:#FF0000;}
#bjui-calendar > .main > .head{background:#e0f0fb; border:1px solid #e3dced;}
#bjui-calendar > .main > .body{border:1px solid #e3dced;}
#bjui-calendar > .main > .foot{background:#f1f9fe; border:1px solid #e3dced;}
#bjui-calendar > .main > .body > .days > dd.slt{background:#e0f0fb; border:1px solid #587fa1;}
#bjui-calendar > .main > .body > .days > dd:hover{border:1px solid #587fa1;}
#bjui-calendar > .main > .body > .days > dd.other{color:#aad7fd;}
#bjui-calendar > .main > .foot > .time td{border:1px solid #587fa1;}
#bjui-calendar > .main > .foot > .time .up:hover,
#bjui-calendar > .main > .foot > .time .down:hover{color:#FFF; background:#013969;}
#bjui-calendar > .main > .tm > ul{background-color:#f1f9fe; border:1px solid #587fa1;}
#bjui-calendar > .main > .tm > ul > li:hover{background:#e0f0fb;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:#0024ff;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#FFF; background:#013969;}
/* Lookup */
.bjui-lookup:hover{color:#FFF; background:#013969;}
/* Tags */
.bjui-tags > .label-tag{color:#587fa1; background-color:#f1f9fe;}
.bjui-tags > .label-tag:hover,
.bjui-tags > .label-tag:focus{background-color:#e0f0fb;}
.bjui-tags > .tags-menu > .tags-highlight{background-color:#e0f0fb;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#f1f9fe;}

/* ------- plugins ------- */
/* iCheck */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/* zTree */
.ztree li a.faicon{color:#013969;}
.ztree li a:hover{color:#0024ff;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#e0f0fb; color:black; border:1px #587fa1 solid;}
.ztree li a.curSelectedNode_Edit{background-color:#e0f0fb; color:black; border:1px #587fa1 solid;}
.ztree li a.tmpTargetNode_inner{background-color:#e0f0fb; color:white; border:1px #587fa1 solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #587fa1 dotted;}
ul.tmpTargetzTree{background-color:#e0f0fb;}
/* uploadify */
.uploadify-button{color:#013969 !important; background-color:#f1f9fe !important; border-color:#587fa1 !important;}
.uploadify:hover .uploadify-button{color:#FFF !important; background-color:#587fa1 !important; border-color:#587fa1 !important;}