@charset "utf-8";
body{background:#f8f6fa;}
a{color:#c000ff; text-decoration:none;}
a:hover{color:#563d7c; text-decoration:underline;}
fieldset{border-color:#563d7c;}
/* ------------- bootstrap ------------- */
.btn-sel:hover,
.btn-sel:focus{background-color:#eae7ef; background-position:0 -15px; border-color:#563d7c;}
.btn-sel:active,
.btn-sel.active{background-color:#eae7ef; border-color:#563d7c;}
.btn-default{color:#563d7c; background-color:#f8f6fa; border-color:#563d7c;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{color:#FFF; background-color:#927ab5; border-color:#927ab5;}
.btn-close, .btn-red, .btn-blue, .btn-green, .btn-blue, .btn-orange{background:#f8f6fa;}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#eae7ef;}
.form-control{color:#563d7c; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#927ab5; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86,61,124, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86,61,124, 0.6);}
.panel-default{border-color:#563d7c;}
.panel-default > .panel-heading{color:#563d7c; background-color:#f8f6fa; border-color:#563d7c;}
.panel-default > .panel-heading + .panel-collapse .panel-body{border-top-color:#563d7c;}
.panel-default > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#563d7c;}
.panel-main .panel-default{border-top-color:#563d7c; border-bottom-color:#563d7c;}
.panel-main .panel-default .panel-heading .panel-title a.active,
.panel-main .panel-default .panel-heading .panel-title a:hover{background:#eae7ef;}
.nav-tabs{border-bottom-color:#563d7c;}
.nav-tabs > li > a{background-color:#f8f6fa; border-bottom-color:#563d7c;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{border-color:#563d7c; border-bottom-color:#FFF;}
.tab-content{border-color:#563d7c;}
.table > thead > tr > th{font-weight:bold; color:#563d7c; background:#f8f6fa; border-bottom-color:#563d7c;}
.table > thead > tr > th{background:#f8f6fa; border-bottom-color:#563d7c;}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{background-color:#f8f6fa;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#eae7ef;}
.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc{color:#c000ff;}
.table > thead > tr > th.orderby.desc a.order.desc{color:#c000ff;}
.table > thead > tr > th.orderby a.order:hover{color:#FFF!important; background:#c000ff;}
/* Main */
#bjui-header{background:#927ab5 url(topbg.png);}
#bjui-header > .navbar-header > .navbar-toggle:hover,
#bjui-header > .navbar-header > .navbar-toggle:focus{background-color:#927ab5;}
#bjui-header > nav > .nav > li.datetime > div,
#bjui-header > nav > .nav > li > a{border-left:1px #EEE solid; border-right:1px #927ab5 solid; background:rgba(86,61,124,0.2);}
#bjui-header > nav.collapsing,
#bjui-header > nav.in{padding:0;}
#bjui-header > nav.collapsing > .nav, #bjui-header > nav.in > .nav{margin:0;}
#bjui-header > nav.collapsing > .nav > li.datetime > div,
#bjui-header > nav.collapsing > .nav > li > a,
#bjui-header > nav.in > .nav > li.datetime > div,
#bjui-header > nav.in > .nav > li > a{border-left-width:0px;}
#bjui-header > nav.collapsing > .nav > li > a,
#bjui-header > nav.collapsing > .nav > li.datetime > div,
#bjui-header > nav.in > .nav > li > a,
#bjui-header > nav.in > .nav > li.datetime > div{color:#FFF; background:#563d7c;}
#bjui-header > nav.in > .nav > li > ul > li > a{color:#FFF; background:#c7bbd8;}
#bjui-header > nav.in > .nav > li > ul > li.divider{margin:0;}
#bjui-header > nav > .nav > li.active > a,
#bjui-header > nav > .nav > li.open > a,
#bjui-header > nav > .nav > li > a:hover,
#bjui-header > nav.in > .nav > li > ul > li > a:hover{background-color:#c000ff !important; border-right-color:#c000ff;}
#bjui-header > nav.in > .nav > li > ul{padding:0;}
#bjui-header > nav > .nav > li > a.theme{color:#FFF !important;}
#bjui-sidebar{background:#f8f6fa; border-color:#563d7c;}
#bjui-sidebar > .toggleCollapse{background:#eae7ef; border-bottom:1px #563d7c solid;}
#bjui-sidebar > .toggleCollapse div{color:#563d7c; background:#eae7ef;}
#bjui-sidebar > .toggleCollapse div:hover{color:#f8f6fa; background:#563d7c;}
#bjui-sidebar-s > .collapse{background:#f8f6fa; border:1px #563d7c solid;}
#bjui-sidebar-s > .collapse:hover{background:#eae7ef;}
#bjui-sidebar-s > .collapse > .toggleCollapse{background:#f8f6fa;}
#bjui-sidebar-s > .collapse > .toggleCollapse div{color:#563d7c; background:#f8f6fa;}
#bjui-sidebar-s > .collapse > .toggleCollapse div:hover{color:#f8f6fa; background:#563d7c;}
#bjui-splitBar{background:#f8f6fa;}
#bjui-splitBarProxy{border-color:#c0c0c0; background:#f8f6fa;}
/* Pages */
.bjui-pageHeader{background:#f8f6fa; border-bottom:1px #563d7c solid;}
.bjui-pageHeader .moreSearch{background:#f8f6fa; border-bottom:1px #927ab5 solid;}
.bjui-pageHeader .j-showMoreSearch:hover{color:#c000ff;}
.bjui-headBar{background:#f8f6fa; border-bottom:1px #563d7c solid;}
.bjui-footBar{background:#f8f6fa; border-top:1px #563d7c solid;}
.bjui-headBar > .pagination-box > ul > li > a,
.bjui-footBar > .pagination-box > ul > li > a{color:#c000ff;}
.bjui-headBar > .pagination-box > ul > li > a:hover,
.bjui-footBar > .pagination-box > ul > li > a:hover{color:#563d7c;}
.bjui-headBar > .pagination-box > ul > .selected > a,
.bjui-headBar > .pagination-box > ul > .selected > span,
.bjui-headBar > .pagination-box > ul > li > a:hover,
.bjui-headBar > .pagination-box > ul > .selected > span:hover,
.bjui-footBar > .pagination-box > ul > .selected > a,
.bjui-footBar > .pagination-box > ul > .selected > span,
.bjui-footBar > .pagination-box > ul > li > a:hover,
.bjui-footBar > .pagination-box > ul > .selected > span:hover{z-index:2; color:#ffffff; background-color:#927ab5; border-color:#eae7ef;}
/* MaskProgress */
.bjui-maskProgress{color:#563d7c; background:#FAFAFA; border:2px solid #927ab5;}
/* Navtab */
#bjui-navtab > .tabsPageHeader > .tabsLeft,
#bjui-navtab > .tabsPageHeader > .tabsRight,
#bjui-navtab > .tabsPageHeader > .tabsMore{background-color:#f8f6fa; border:1px #563d7c solid;}
#bjui-navtab > .tabsPageHeader > .tabsLeft:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight:hover,
#bjui-navtab > .tabsPageHeader > .tabsMore:hover{color:#f8f6fa; background-color:#563d7c;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled{color:#999; border-color:#c7bbd8; border-bottom-color:#563d7c;}
#bjui-navtab > .tabsPageHeader > .tabsLeft.tabsLeftDisabled:hover,
#bjui-navtab > .tabsPageHeader > .tabsRight.tabsRightDisabled:hover{background:#f8f6fa;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav{border-bottom-color:#563d7c;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a{color:#563d7c; background-color:#f8f6fa; border-color:#c7bbd8; border-bottom-color:#563d7c;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a:hover{color:#563d7c; background:#eae7ef; border-color:#563d7c; border-bottom-color:transparent;}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a{color:#563d7c; font-weight:bold; background:#FFF; border-color:#563d7c; border-bottom-color:transparent;}
#bjui-navtab > .tabsMoreList{background:#f8f6fa; border-color:#563d7c;}
#bjui-navtab > .tabsMoreList > li > a:hover{color:#563d7c; background:#eae7ef;}
#bjui-navtab > .tabsMoreList > li.active > a{font-weight:bold; background:#eae7ef;}
#bjui-navtab > .tabsPageContent{background:#fefefe; border-color:#563d7c;}
/* Dialog */
.bjui-dialog{background:#f8f6fa; border:1px #DDD solid;}
.bjui-dialog.dialogShadow{-webkit-box-shadow:0 3px 9px rgba(86,61,124, 0.9); box-shadow:0 3px 9px rgba(86,61,124, 0.9);}
.bjui-dialog > .dialogHeader{background:#eae7ef; border-bottom:1px #563d7c solid;}
.bjui-dialog > .dialogHeader a{color:#563d7c !important;}
.bjui-dialog > .dialogHeader a:hover{color:#c000ff !important;}
.bjui-dialog > .dialogHeader h1{color:#563d7c;}
.bjui-dialog > .dialogContent .bjui-pageHeader{margin-bottom:0; border:1px #563d7c solid; border-bottom:none;}
.bjui-dialog > .dialogContent .bjui-pageContent{background-color:#fff; border:1px #563d7c solid;}
/* Dialog resizable */
.bjui-resizable{border-color:#563d7c; background:#f8f6fa;}
/* Taskbar */
#bjui-taskbar{background:#563d7c;}
#bjui-taskbar > .taskbarContent > ul > li{background:#f8f6fa;}
#bjui-taskbar > .taskbarContent > ul > li > .taskbutton{color:#563d7c;}
#bjui-taskbar > .taskbarContent > ul > li.selected,
#bjui-taskbar > .taskbarContent > ul > li:hover{background:#eae7ef;}
#bjui-taskbar > .taskbarContent > ul > li.selected > .taskbutton,
#bjui-taskbar > .taskbarContent > ul > li:hover > .taskbutton{color:#c000ff;}
#bjui-taskbar > .taskbarContent > ul > li > .close{color:#927ab5;}
#bjui-taskbar > .taskbarContent > ul > li > .close:hover{color:#FF0000;}
#bjui-taskbar > .taskbarLeft, #bjui-taskbar > .taskbarRight{background:#f8f6fa;}
#bjui-taskbar > .taskbarLeft:hover,
#bjui-taskbar > .taskbarRight:hover{color:#FFF; background:#563d7c; border-color:#f8f6fa;}
#bjui-taskbar > .taskbarLeft.disabled,
#bjui-taskbar > .taskbarRight.disabled{color:#999; background:#f8f6fa;}
#bjui-taskbar > .taskbarLeft.disabled:hover,
#bjui-taskbar > .taskbarRight.disabled:hover{color:#999; background:#f8f6fa;}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#927ab5;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#FFF; background:#563d7c;}
/* Alertmsg */
.bjui-alert{background:#f8f6fa;}
.bjui-alert > .alertContent .alertInner > .msg{border-top: 1px #fefefe solid;}
.bjui-alert > .alertContent > .info > .alertInner{border-color:#563d7c;}
.bjui-alert > .alertContent > .info > .alertInner > h1{color:#563d7c; background-color:#eae7ef; border-bottom:1px #39175a solid;}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#fff; border:1px solid #999;}
#bjui-contextmenu li{color:#563d7c; background-color:transparent; border:1px solid #fff;}
#bjui-contextmenu li:hover{background-color:#f8f6fa; border:1px solid #927ab5;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default;}
#bjui-contextmenu li.diver{border-top:1px solid #927ab5; border-bottom:1px solid #eae7ef; border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Calendar */
#bjui-calendar{border:1px solid #927ab5;}
#bjui-calendar > .main > a.close{color:#927ab5;}
#bjui-calendar > .main > a.close:hover{color:#FF0000;}
#bjui-calendar > .main > .head{background:#eae7ef; border:1px solid #e3dced;}
#bjui-calendar > .main > .body{border:1px solid #e3dced;}
#bjui-calendar > .main > .foot{background:#f8f6fa; border:1px solid #e3dced;}
#bjui-calendar > .main > .body > .days > dd.slt{background:#eae7ef; border:1px solid #927ab5;}
#bjui-calendar > .main > .body > .days > dd:hover{border:1px solid #927ab5;}
#bjui-calendar > .main > .body > .days > dd.other{color:#c7bbd8;}
#bjui-calendar > .main > .foot > .time td{border:1px solid #927ab5;}
#bjui-calendar > .main > .foot > .time .up:hover,
#bjui-calendar > .main > .foot > .time .down:hover{color:#FFF; background:#563d7c;}
#bjui-calendar > .main > .tm > ul{background-color:#f8f6fa; border:1px solid #927ab5;}
#bjui-calendar > .main > .tm > ul > li:hover{background:#eae7ef;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:#c000ff;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#FFF; background:#563d7c;}
/* Lookup */
.bjui-lookup:hover{color:#FFF; background:#563d7c;}
/* Tags */
.bjui-tags > .label-tag{color:#927ab5; background-color:#f8f6fa;}
.bjui-tags > .label-tag:hover,
.bjui-tags > .label-tag:focus{background-color:#eae7ef;}
.bjui-tags > .tags-menu > .tags-highlight{background-color:#eae7ef;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#f8f6fa;}

/* ------- plugins ------- */
/* iCheck */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/* zTree */
.ztree li a:hover{color:#c000ff;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#eae7ef; color:black; border:1px #563d7c solid;}
.ztree li a.curSelectedNode_Edit{background-color:#eae7ef; color:black; border:1px #563d7c solid;}
.ztree li a.tmpTargetNode_inner{background-color:#eae7ef; color:white; border:1px #563d7c solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #927ab5 dotted;}
ul.tmpTargetzTree{background-color:#eae7ef;}
/* uploadify */
.uploadify-button{color:#563d7c !important; background-color:#f8f6fa !important; border-color:#563d7c !important;}
.uploadify:hover .uploadify-button{color:#FFF !important; background-color:#927ab5 !important; border-color:#927ab5 !important;}